.is-paddingless-horizontal {
  padding-left: 0;
  padding-right: 0;
}

.grid {
  display: grid;
  grid-template-columns: [xl-start] 1fr 1.5rem [md-start] minmax(0, 600px) [md-end]1.5rem 1fr [xl-end];
}
.grid * {
  grid-column: md;
}
.grid-xl {
  grid-column: xl;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-not-repeating {
  background-size: cover;
}
