html,
body {
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.title {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.page_body {
  margin-top: 100px;
}
.filter_column,
.favourites_column {
  width: 300px;
  top: 100px;
  bottom: 0px;
  position: fixed;
}
.filter_column,
.list_column,
.favourites_column,
.bodywrap {
  height: 100%;
}
.list_column {
  margin: 100px 200px;
}
.filter_column {
  left: 0;
}
.favourites_column {
  right: 0;
}

.filter_column {
  background-color: #aaa;
}
.favourites_column {
  background-color: #ccc;
}
.title {
  background-color: #777;
}
