<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bank Lists Website</title>
    <link rel="stylesheet" href="style/bank.css" />
    <link rel="stylesheet" href="style/frameworks/bulma.css" />
    <script src="scripts/font_awesome.js"></script>
  </head>

  <body>
    <section class="section is-paddingless-horizontal">
      <div class="container grid">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="/index.html">Home</a></li>
            <li class="is-active">
              <a href="" aria-current="page">$</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>

    <section
      class="section is-paddingless-horizontal is-medium grid-xl is-not-repeating"
      style="background-image: url('/imgs/bank_imgs/$.jpg');"
    >
      <div class="container">
        <h1 class="title is-2 center has-text-light">$</h1>
      </div>
      <div class="container center">
        <span class="icon is-large">
          <a href="$"> <i class="fas fa-2x fa-home"></i> </a>
        </span>
        <span class="icon is-large">
          <a href="$"><i class="fab fa-2x fa-facebook"></i></a>
        </span>
        <span class="icon is-large">
          <a href="$"><i class="fab fa-2x fa-linkedin"></i></a>
        </span>
      </div>
    </section>

    <section class="section grid">
      <div class="content notification">
        <h4 class="title is-4 center">Description</h4>
        <p>
          $
        </p>
      </div>

      <div class="content notification">
        <h4 class="title is-4 center">Statistics</h4>
        <p>
          <em>The following is a list of statistics about the bank:</em>
        </p>
      </div>

      <div class="content notification">
        <h4 class="title is-4 center">Salary Progressions</h4>
        <p>
          <em
            >The following is a the average progression of the salary through
            the first 3 years:</em
          >
        </p>
      </div>
    </section>
  </body>
</html>
