<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bank Lists Website</title>
    <link rel="stylesheet" href="style/bank.css" />
    <link rel="stylesheet" href="style/frameworks/bulma.css" />
    <script src="scripts/font_awesome.js"></script>
  </head>

  <body>
    <section class="section is-paddingless-horizontal">
      <div class="container grid">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="/index.html">Home</a></li>
            <li class="is-active">
              <a href="" aria-current="page">$</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>

    <section
      class="section is-paddingless-horizontal is-medium grid-xl is-hidden-touch"
      style="background-image: url('/imgs/bank_imgs/$.jpg');"
    >
      <div class="container">
        <h1 class="title is-2 center has-text-light">$</h1>
        <h2 class="subtitle is-3 center has-text-light">
          Best bank in the world
        </h2>
      </div>
    </section>

    <section
      class="section is-paddingless-horizontal is-medium grid-xl is-hidden-desktop"
    >
      <div class="container">
        <h1 class="title is-2 center">$</h1>
        <h2 class="subtitle is-3 center">
          Best bank in the world
        </h2>
      </div>
    </section>

    <section class="section grid">
      <div class="content notification">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius
          placerat mi, vitae interdum purus volutpat eu. Sed dignissim velit
          lacus, non gravida velit lacinia eget. Vivamus ac consequat velit.
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas. Praesent a leo convallis, imperdiet magna
          vel, iaculis purus. Aenean ornare eget lectus nec pulvinar. Praesent
          eget dolor in lectus iaculis dapibus. Mauris felis nunc, ornare sed
          sollicitudin euismod, mattis non lacus. Aenean convallis lacus non
          lectus pellentesque cursus.
        </p>
      </div>

      <div class="content notification">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius
          placerat mi, vitae interdum purus volutpat eu. Sed dignissim velit
          lacus, non gravida velit lacinia eget. Vivamus ac consequat velit.
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas. Praesent a leo convallis, imperdiet magna
          vel, iaculis purus. Aenean ornare eget lectus nec pulvinar. Praesent
          eget dolor in lectus iaculis dapibus. Mauris felis nunc, ornare sed
          sollicitudin euismod, mattis non lacus. Aenean convallis lacus non
          lectus pellentesque cursus.
        </p>
      </div>
    </section>
  </body>
</html>
